body {
    justify-content: center;
    background-color: teal (236, 12, 0);/* Set a background color for the body */
    align-items: center;
    height: 100vh;
    display: flex;
  }
  
  h1 {
    font-size: 16rem; /* Set the font size for h1 */
    font-family: Baskerville;    
  }
  
  .letter{
    transition: color 1000ms;
  }